
* {
    font-size: 10vw;
    background:yellow;
}
#presentaFunc {
    font-size: 5vw;

}
.botones {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}
button{
    width: 30vw;
    height: 15vw;
    font-size: 5vw;
    border-radius: 5vw;
    font-weight: bold;
}
#btnRec{
    background-color: green;
    color: black;
}
#btnVaciaTabla{
    background: white;
}
.contenido{
    font-size: 10vw;
    margin: 0 auto;
}
table{
    display: none;
}
th {
    font-size: 8vw;
    
}
td {
    display: flex;
    justify-content: flex-end;
    /* justify-items: right; */

    font-size: 5vw;
    font-weight: bold;
}
select, option {
    font-size: 7vw;
    background:white;
}
button{
    cursor: pointer;
}